* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #FFF;  
  /* background-image: url(./assets/roofBackground.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
  margin-bottom: 60px; */
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

body:hover {
  cursor: default;
}

#mainPageContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

#navbarContainer {
  display: flex;
  padding: 0px 50px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-bottom: 2px solid #3C525E;
}

#logoContainerHeader {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

#logoHeader {
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
}

#titleNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

#navCompanyTitle {
  color: #3C525E;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#navLinksContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.navLink {
  color: #3C525E;
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.5s;
}

.navLink::after {
  transition: 0.5s;
}

.navLink:hover {
  color: #A67C52;
}

#navbarPlaceholder {
  margin-bottom: 80px;
}

#mainContainer {
  display: flex;
  padding: 0px 50px 0px 50px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

#mainContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

#mainContentHousing {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 20px;
  background-color: #F4F1EB;
}

#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#companyHeading {
  align-self: stretch;
  color: #3C525E;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#mainDescriptiveContentContainer {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

#mainDescriptiveContentHousing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

#mainDescriptiveContent {
  color: #3C525E;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

#mainDescriptiveContentContainerFiller {
  display: flex;
  justify-content: end;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

#servButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #3C525E;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#servButton:hover {
  /* color: #F4F1EB; */
  color: #A67C52;

}

#servButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#servButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#servButton:hover span {
  padding-right: 25px;
}

#servButton:hover span:after {
  opacity: 1;
  right: 0;
}

#mainDescriptiveContentImage{
  border-radius: 20px;
}

#footerContainer {
  background: #F4F1EB;

  display: flex;
  padding: 0px 50px;
  align-items: center;
  align-self: stretch;
}

#footerContainerLHS {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1 0 0;
}

#logoContainerFooter {
  display: flex;
  align-items: flex-start;
}

#copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  color: #3C525E;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#footerContainerRHS {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 0;
  gap: 20px;
  align-self: stretch;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4F1EB;
  border-radius: 10%;
  max-width: 156px;
  margin-left: -20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}

.dropdown-content a {
  color: #3C525E;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}

.dropdown-content a::after {
  transition: 0.5s;
}

.dropdown-content a:hover {
  color: #A67C52;

}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content.show {
  display: flex;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

#instagramLogo:hover, #facebookLogo:hover{
  color: #A67C52;
  transition: 0.5s;
}
