<div id="navbarContainer">
  <div id="logoContainerHeader">
    <img
      id="logoHeader"
      src="/roofing-protoV2/assets/transparent-logo-removebg-lite.png"
      alt="Main Logo"
    />
  </div>
  <div id="titleNavbar">
    <p id="navCompanyTitle">Pav's <span>Roofing Solutions</span></p>
  </div>
  <button class="nav-toggle" id="navToggle">
    <i>☰</i>
  </button>
  <div id="navLinksContainer">
    <a href="/roofing-protoV2/index.html" class="navLink" id="homeLink">Home</a>
    <div id="servicesDropdown" class="dropdown">
      <a
        id="servicesLink"
        class="navLink dropdown-toggle"
        href="/roofing-protoV2/navOptions/services.html"
        >Services</a
      >
      <div class="dropdown-content">
        <a href="/roofing-protoV2/servicesDrop/residential.html">Residential</a>
        <a href="/roofing-protoV2/servicesDrop/commercial.html">Commercial</a>
        <a href="/roofing-protoV2/servicesDrop/waterproofing.html"
          >Waterproofing</a
        >
        <a href="/roofing-protoV2/servicesDrop/repairs.html">Repairs</a>
      </div>
    </div>
    <a
      href="/roofing-protoV2/navOptions/about.html"
      class="navLink"
      id="aboutLink"
      >About</a
    >
    <a
      href="/roofing-protoV2/navOptions/contact.html"
      class="navLink"
      id="contactLink"
      >Contact</a
    >
    <a href="/roofing-protoV2/quote.html" class="navLink cta-button"
      >Get a Quote</a
    >
  </div>
  <div id="phoneContainer">
    <a href="tel:+1234567890" id="phoneLink">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-telephone-fill"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M3.654 1.328a.678.678 0 0 1 .58-.326h2.548c.24 0 .462.12.58.326l1.02 1.789c.12.21.12.47 0 .68l-1.02 1.789a.678.678 0 0 1-.58.326H4.234a.678.678 0 0 1-.58-.326L2.634 3.797a.678.678 0 0 1 0-.68l1.02-1.789zm9.192 6.29a.678.678 0 0 1 .58.326l1.02 1.789c.12.21.12.47 0 .68l-1.02 1.789a.678.678 0 0 1-.58.326h-2.548a.678.678 0 0 1-.58-.326l-1.02-1.789a.678.678 0 0 1 0-.68l1.02-1.789a.678.678 0 0 1 .58-.326h2.548z"
        />
      </svg>
      <span id="phoneNumber">+61 412 345 678</span>
    </a>
  </div>
</div>
