<div id="navbarContainer">
  <div id="logoContainerHeader">
    <img
      id="logoHeader"
      src="/roofing-protoV2/assets/transparent-logo-removebg-lite.png"
      alt="Main Logo"
    />
  </div>
  <div id="titleNavbar">
    <p id="navCompanyTitle">Pav's <span>Roofing Solutions</span></p>
  </div>
  <button class="nav-toggle" id="navToggle">☰</button>
  <div id="navLinksContainer">
    <button class="close-toggle" id="closeToggle">✖</button>
    <a href="/roofing-protoV2/index.html" class="navLink" id="homeLink">Home</a>
    <div id="servicesDropdown" class="dropdown">
      <a
        id="servicesLink"
        class="navLink dropdown-toggle"
        href="/roofing-protoV2/navOptions/services.html"
        >Services</a
      >
      <div class="dropdown-content">
        <a href="/roofing-protoV2/servicesDrop/residential.html">Residential</a>
        <a href="/roofing-protoV2/servicesDrop/commercial.html">Commercial</a>
        <a href="/roofing-protoV2/servicesDrop/waterproofing.html"
          >Waterproofing</a
        >
        <a href="/roofing-protoV2/servicesDrop/repairs.html">Repairs</a>
      </div>
    </div>
    <a
      href="/roofing-protoV2/navOptions/about.html"
      class="navLink"
      id="aboutLink"
      >About</a
    >
    <a
      href="/roofing-protoV2/navOptions/contact.html"
      class="navLink"
      id="contactLink"
      >Contact</a
    >
    <a href="/roofing-protoV2/quote.html" class="navLink cta-button"
      >Get a Quote</a
    >
    <a href="tel:+61412345678" id="phoneLink" class="navLink">
      Phone: +61 412 345 678
    </a>
  </div>
</div>
